.Login h1 {
    font-size: 20px;
    line-height: 1.6;
}

.Login a {
    font-size: 12px;
    text-transform: none;
}

.Login a:hover {
    color: white;
}

.Login p {
    font-size: 12px;
    line-height: 1.8;
}

@media (max-width: 500px) {

    .Login h1 {
     margin-bottom: -10px;
    }

    .Login a {
        font-size: 10px;
    }

    .Login p {
        font-size: 10px;
    }

}