.VacationsReports h1 {
    font-size: 25px;
    margin-bottom: 5px;
}

/*Canvas Chart*/
.VacationsReports .likesChart {
    display: flex;
    margin: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 2% 10% 0 10%;
}

.VacationsReports .likesChart a {
    display: none;
}


/* Responsive Styles */
@media (max-width: 500px) {

    .VacationsReports h1 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .VacationsReports .likesChart {
        margin: 25px 0 0 0;
        padding: 0 25px 0 20px;
    }

    .VacationsReports button {
        margin-bottom: 25px;
    }
}